# Ignore environment files
.env
backend/.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
backend/venv/

# macOS system files
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
settings.json

# Celery
celerybeat-schedule
celerybeat-schedule.db
